.video_block{
  background-color: #F2FAF8;
  height: auto;
}
.video_content{
  padding: 53px 15px ;
  margin: 0 auto;
  max-width: 765px;
  width: 100%;
  
}

.click-for-video {
  max-width: 765px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.responsive{
  max-width: 765px;
  width: 100%;
}


 
.youtube {
  margin: 0 auto;

}


.youtube2{
  max-width: 765px;
  width: 100%;
  height: 400px;
}
   
div.youtube {
  display: none;
}


